name: Release

on:
  release:
    types: [ created ]

jobs:
  release-server:
    environment: 'deploy'
    uses: ./.github/workflows/release-template.yml
    with:
      folder: server
      zip_name: item-vault-server.zip
      push_mirror: true
      mirror_repository: ShatteredDawn/item-vault-server-mirror
      mirror_branch: main
      client_packaging: false
    secrets:
      MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}

  release-client:
    environment: 'deploy'
    uses: ./.github/workflows/release-template.yml
    with:
      folder: client
      zip_name: ItemVault_Client.zip
      push_mirror: true
      mirror_repository: ShatteredDawn/item-vault-client-mirror
      mirror_branch: main
      client_packaging: true
    secrets:
      MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
